* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "false", sans-serif;
}
body {
  background-color: var(--gray-color);
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --primary-color: #465ff1;
  --secondary-color: #ecf0ff;
  --gray-color: #f9f9f9;
}

.card {
  border-radius: 12px;
}

button {
  cursor: pointer;
}
#signInBtn {
  border: none;
  color: #c0bebe;
  padding: 10px 45px;
}
.para {
  font-size: 12px;
  margin-top: 80px;
}
#signUpBtn:focus,
#signInBtn:focus {
  box-shadow: none;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  border: 1px solid #b2d0ee;
  border-radius: 6px;
  padding: 6px;
  font-size: 14px;
}
.form-label {
  font-weight: bold;
}
button[type="submit"] {
  background-color: var(--primary-color);
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
}
.btn-group {
  background-color: var(--secondary-color);
  border-radius: 6px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  button {
    flex: 1;
  }
}
.upload-icon {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  p {
    font-weight: bold;
    margin-left: 10px;
    font-size: 13px;
    white-space: nowrap;
    margin-top: 4px;
    cursor: pointer;
  }
}
button[type="submit"]:hover {
  background-color: var(--primary-color);
}
img {
  width: 100%;
  height: 100%;
}
.left {
  height: 100vh;
  padding: 1rem;
  margin-bottom: 9pc;
  position: absolute;
  top: 0;
  left: 0;
}
.bottom-p {
  margin-bottom: 100px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right {
  padding: 2rem;
  flex: 1;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  .p-bottom {
    position: absolute;
    bottom: -64px;
    left: 0;
    font-size: 10px;
  }
}
.wrap {
  width: 100%;
  max-width: 331px;
  position: absolute;
  top: 17px;
  right: 300px;
  @media screen and (max-width: 1075px) {
    right: 0;
    top: 0;
    max-width: 100%;
    padding: 19px;
  }
}
.logo {
  width: 130px;
}
.tick {
  height: 180px;
  width: 180px;
  margin: 30px auto;
}
.s-main {
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--secondary-color);
  padding: 20px;
  section {
    display: flex;
    gap: 3rem;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    width: 100%;
    min-height: 90vh;
    padding: 10px;
  }
  .start-btn {
    padding: 10px 70px;
    background-color: var(--primary-color);
  }
}
@media screen and (max-width: 1075px) {
  .left {
    display: none;
  }
}
.white {
  background-color: #fff;
}
.upper-section {
  cursor: pointer;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 15px;
  margin: 10px;
  border-radius: 10px;
  .mic-icon {
    text-align: center;
  }
}
.p-bottom {
  font-size: 10px;
  display: ruby-text;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 66px;
}
.lower-section {
  display: grid;
  grid-template-columns: 2fr 1.4fr;

  gap: 10px;
  padding-inline: 10px;
  h2 {
    text-align: center;
  }
  .transcript {
    background-color: #fff;

    padding: 10px;
    h2 {
      margin-bottom: 28px;
    }
    .t-heading {
      display: flex;
      align-items: start;
      justify-content: space-between;
    }
  }
  aside {
    border-radius: 20px;
    background-color: white;
    border: 1px solid #ddd;
    min-height: 70vh;
    padding: 9px;
  }
}
.search-box {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--gray-color);
  padding:5px 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  input {
    border: none;
    background-color: var(--gray-color);
    outline: none;
  }
}
.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
.border {
  border: 1px solid #ddd;
}
@media screen and (max-width: 768px) {
  .lower-section {
    grid-template-columns: 1fr;
    .transcript {
      max-width: 100%;
    }
    .summary {
      gap: 10px;
    }
  }
}

.popup {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.popup-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  gap: 11rem;
}
.popup-header h2 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  min-width: fit-content;
}
.close-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.search-container {
  margin-bottom: 10px;
}
input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.or-divider {
  text-align: center;
  margin: 10px 0;
  color: #777;
}
.save-btn {
  width: 100%;
  padding: 10px;
  background-color: #4070f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.save-btn:hover {
  background-color: #3060e0;
}
.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  h4 {
    margin-bottom: 20px;
  }
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 768px) {
  .popup {
    width: 90%;
  }
}
.overlay.active {
  display: block;
}
.upper-section.stop {
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
  border: none;
}
.data-section {
  border: 1px solid #ddd;
  flex: 1;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  background-color: #fff;
  gap: 2rem;
  h3 {
    margin-bottom: 10px;
  }
}
.rec-headings{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--gray-color);
  border-radius: 5px;
  p{
    margin: 0;
    font-weight: bold;
    width: 20%;
    
  }
  @media screen and (max-width: 652px) {
    gap: 10px;
  justify-content: space-between;
  flex-direction: column;    
    }
}
.recording-content{
  display: flex;
  align-items: center;

  font-weight: bold;
  padding: 20px;
  p,button{
    width: 20%;
    margin: 0;
    font-size: 13px;
  }
  button{
    padding: 5px 20px;
  }
  @media screen and (max-width: 652px) {
    gap: 10px;
  justify-content: space-between;
  flex-direction: column;    
    }
}
.stop-listening {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  padding: 20px;
  color: var(--primary-color);
  min-width: 400px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .stop-listening {
    min-width: 0;
  }
}
.p-heading {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
.p-wrapper {
  background-color: var(--gray-color);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  h3 {
    color: var(--primary-color);
  }
}
.d-wrapper {
  padding: 10px;
  h3 {
    color: var(--primary-color);
  }
}
.summary-btns {
  display: flex;
  border-radius: 20px;
  align-items: center;
  button {
    flex: 1;
  }
}
.s-btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 10px;
}
.scratch-para {
  background-color: var(--gray-color);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.submit-btn {
  max-width: fit-content;
  text-align: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10000;
  background-color: #fff;
  padding: 20px 0;
 
  transform: translateX(-100%);
  a.active {
    background-color: var(--secondary-color);
   color: var(--primary-color);
 font-weight: bold;
    border-radius: 10px;
  }
  a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 8px 20px;
    margin-bottom: 10px;

    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      border-radius: 10px;
    }

    i {
      margin-right: 10px;
    }
  }
  .side-links {
    margin-top: 50px;
  }

 
  .close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  border-right: 1px solid #dddddd5e;
}
.side-overlay{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  
}
.side-overlay.active{
transform: translateX(0);
}
.sidebar.active {
  transform: translateX(0);
  transition: 0.5s;
}

.s-heading {
  display: flex;
  align-items: center;
  gap: 22px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.menu-icon {
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
select {
  flex: 1;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: var(--gray-color);
  color: var(--primary-color);
}
.stop-listening {
  position: relative;

  img {
    height: 20px;
    width: 20px;
    border: 2px solid var(--primary-color);
    padding: 4px;
    border-radius: 50%;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  select {
    max-width: fit-content;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    margin-right: 5px;
  }
  @media screen and (max-width: 768px) {
    select {
      margin-right: 0;
      flex-wrap: wrap;
      font-size: 0;

      background-color: transparent;
    }

    font-size: 10px;
  }
}
.vector {
  justify-self: flex-end;
}
@media screen and (max-width: 768px) {
  .data-section {
    padding: 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 429px) {
  .upper-section.stop {
    flex-direction: column;
  }
  .stop-listening {
    padding: 10px;
    width: 100%;
  }
}
